/* =====================================
               Media Queries
   ===================================== */

@media (max-width: 670px) {
	.img-border {
		display: inline;
		width: 500px;
		margin: 0 auto;
	}

	#date, #port {
		display: block;
		text-align: center;
		padding-bottom: 10px;
	}
}

@media (max-width: 540px) {
	.img-border {
		display: inline;
		width: 350px;
		margin: 0 auto;
	}

	#date, #port {
		display: block;
		text-align: center;
		padding-bottom: 10px;
	}
}

@media (max-width: 390px) {
	.img-border {
		width: 200px;
		margin: 0 auto;
		display: block;
	}
}

@media (max-width: 320px) {
	.img-border {
		width: 200px;
		margin: 0 auto;
		display: block;
	}
}