/* =====================================
              	Body
   ===================================== */

.container {
	width: 70%;
	max-width: 960px;
	margin: 0 auto;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	background: #007999;
	color: #fff;
}


h3, h5 {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-weight: bold;
	background: #fff;
	color: #007999;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* =====================================
              Header
   ===================================== */

header {
	text-align: center;
	margin: 20px;
}

#brain, #brain-heading {
	display: inline-block;
	color: #fff;
}

#brain-heading {
	vertical-align: middle;
	padding-left: 20px;
}

/* =====================================
             Intro Paragraph
   ===================================== */

#intro-p {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 20px;
}

/* =====================================
                Gallery
   ===================================== */

.gallery-align {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 40px;
}

.img-border {
	width: 100%;
	max-width: 70px;
	max-height: 100px;
	border: 2px solid #000;
	border-radius: 5px;
}

.img-align {
	display: inline;		
	margin: 5px;
}

/* =====================================
              Article Buttons
   ===================================== */

.button {
	margin: 0 auto;
	background: #007999;
	color: #fff;
}

.button:hover {
	background: #fff;
	color: #007999;
}

/* =====================================
                Footer
   ===================================== */

footer {
	border-top: 2px solid #fff;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 20px;
}

#port {
	text-decoration: none;
	color: #fff;
}

#port:hover {
	font-size: 18px;
}

#date {

	float: right;
}