/* =====================================
              	Body/Article
   ===================================== */

body {
	font-family: 'Bree Serif', serif;
}

header {
	width: 100%;
	max-width: 960px;
	height: 60px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.logo, #logo-h3 {
	display: inline;
	vertical-align: middle;
	font-weight: normal;
	color: rgb(96,96,96);
}

ul {
	margin-left: 60px;
}

nav li {
	display: inline-block;
	color: rgb(81,88,89);
	margin: 0 10px;
	font-family: 'Ubuntu', sans-serif;
	padding: 20px 15px;
}

nav li:hover {
	color: #fff;
	background: url(../images/blue-hover.png);
}

.active {
	color: #fff;
	background: url(../images/blue-hover.png);
}

#blog {
	color: #fff;
	background: rgb(249,133,97);
	padding: 0 15px;
	padding-bottom: 3px;
	border-radius: 3px;
}

.search-info {
	margin-left: 130px;
}

.search {
	display: inline;
	vertical-align: middle;
	font-size: 13px;
	cursor: pointer;
}

.logo-info, nav, .search-info {
	display: inline-block;
}

.city-bg-home {
	height: 490px;
	text-align: center;
	background: url(../images/city-bg-home.png);
}

.city-bg-home h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color: rgb(204,206,206);
	padding-top: 80px;
}

.city-bg-home p {
	width: 710px;
	margin: 0 auto;
	margin-bottom: 45px;
	color: rgb(204,206,206);
	font-family: 'Ubuntu', sans-serif;
}

.learn {
	width: 100px;
	margin: 0 auto;
	padding: 10px 50px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	background: rgb(249,133,97);
	color: #fff;
}

.city-bg {
	height: 292px;
	text-align: center;
	background: url(../images/city-bg.png);
}

.city-bg h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color: rgb(204,206,206);
	padding-top: 110px;
}

.our {
	position: relative;
	top: 200px;
}

.our-services {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.service-div {
	width: 200px;
	display: inline-block;
	text-align: center;
	padding-left: 35px;
	color: rgb(81,88,98);
}

.awesome {
	background: rgb(46,62,79);
	padding-top: 50px;
	padding-bottom: 80px;
}

.awesome-bg {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.awesome h2, .awesome h4 {
	color: rgb(249,133,97);
}

.awesome p, .awesome div {
	color: #fff;
}

.awesome h2, .more-div {
	display: inline;
}

.more {
	height: 100px;
}

.more-div {
	float: right;
	background: rgb(33,144,193);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.works {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	padding-left: 35px;
}

#offer {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}

#offer div:first-child {
	margin-bottom: 20px;
}

.offer-p {
	width: 835px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

#offer h2, #testimonial, #clients {
	text-align: center;
	color: rgb(33,144,193);
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

.offers {
	width: 200px;
	display: inline-block;
	padding-left: 35px;
}

.details {
	float: right;
	font-size: 12px;
	color: #fff;
	background: rgb(33,144,193);;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.offers h4 {
	font-size: 17px;
	color: rgb(33,144,193);
	margin-bottom: 0;
}

.offers p {
	font-size: 11px;
}

.testimonial-p {
	width: 835px;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	margin-bottom: 50px;
	color: rgb(81,88,98);
}

footer {
	background: rgb(46,62,79);
	padding-bottom: 30px;
	padding-top: 20px;
}

footer a {
	font-size: 12px;
	color: rgb(33,144,193);
}

#footer-bg {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.footer-div {
	width: 220px;
	display: inline-block;
	margin-left: 40px;
	vertical-align: top;
	line-height: 110%;
}

.footer-div h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: rgb(249,133,97);
}

.footer-div p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #fff;
	margin: 0;
}

.newsletter {
	width: 247px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}

.newsletter p {
	margin-bottom: 15px;
}

.radio {
	color: rgb(33,144,193);
}

.radio input {
	width: 243px;
	margin-top: 10px;
	border-radius: 5px;
}

.sign-up {
	float: right;
	color: #fff;
	background: rgb(33,144,193);
	margin-top: 15px;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.white, .project {
	display: inline-block;
}

.project {
	line-height: 110%;
	vertical-align: top;
	margin-left: 10px;
}

.contact-img, .contact-p {
	display: inline-block;
	vertical-align: middle;
}

.contact-p {
	padding-left: 10px;
}