//Variables
@red-link-hover: #FF0000;
@resume-brown: -webkit-linear-gradient(rgba(239,176,96,0.7), rgba(239,176,96,0.5), rgba(239,176,96,0.7));
@helvetica-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* =====================================
              Page title text
   ===================================== */

.pg-title {
	text-align: center;
	font-family: 'helvetica MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 45px;
	letter-spacing: 1px;
}

.to-top {
	padding-top: 30px;
	text-align: center;

	a {
		font-family: @helvetica-font;
		font-size: 18px;
		background: #000;
		color: #fff;
		border-radius: 10px;
		text-decoration: none;
		padding: 5px;

		&:hover {
			background: @red-link-hover;
		}
	}
}

/* =====================================
                 Home Page
   ===================================== */

#page1 {
	font-family: @helvetica-font;
	background: #201F1F;
	padding-bottom: 40px;
}

/* =====================================
                  Header
   ===================================== */

header, aside {
	width: 82%;
	max-width: 960px;
	margin: 0 auto;
	color: #fff;
}

header {
	line-height: 140%;
	padding-left: 18%;
}

aside {
	line-height: 140%;
	border-bottom: 2px solid #fff;
}

#img {
	margin-top: 15px;
	border: 4px solid #fff;
	border-radius: 30px;
}

#p-hire {
	width: 62%;
	max-width: 600px;
	padding-left: 20px;
}

#photo, #p-hire {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	font-size: 30px;
}

/* =====================================
                  Navbar
   ===================================== */

nav {
	text-align: center;
	width: 70%;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	background: #fff;
	padding-right: 30px;

	li {
		display: inline-block;
		margin-right: 10px;
		padding: 10px;
	}

	a {
		text-decoration: none;
		font-size: 18px;
		font-weight: 700;
		color: #000;
		padding: 10px 20px 11px 20px;
	}

	a:hover {
		background: -webkit-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1),rgba(0,0,0,0.8));
		background: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1),rgba(0,0,0,0.8));
		background: -moz-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1),rgba(0,0,0,0.8));
		background: -o-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1),rgba(0,0,0,0.8));
		background: -ms-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1),rgba(0,0,0,0.8));
		color: #fff;
	}
}

/* =====================================
              Carousel
   ===================================== */

#owl-demo .item img {
    display: block;
    width: 90%;
    max-width: 700px;
    height: 90%;
	margin: 0 auto;
	margin-top: 20px;
	border: 5px solid rgba(0,0,0,0.4);
}

/* =====================================
               Resume Page
   ===================================== */

#page2 {
	font-family: @helvetica-font;
	background: #FCFCFC;
    padding-top: 10px;
    padding-bottom: 30px;
}

.resume-align {
	width: 100%;
	max-width: 700px;
    margin: 0 auto;
}

.resume-h1 {
	border: 5px solid #FCFCFC;
	border-radius: 15px;
	outline: none;
	background: @resume-brown;
	color: #000;
	font-weight: 700;
	font-family: @helvetica-font;
}

.resume-padding {
	border: 5px solid #FCFCFC;
	border-radius: 15px;
	padding: 10px;
	background: @resume-brown;
	color: #000;
	font-size: 75%;
}

/* =====================================
              Portfolio Page
   ===================================== */

#page3 {
	font-family: @helvetica-font;
    color: #fff;
    background-image: url(../assets/images/blue.jpg);
	background-size: cover;
	background-position: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

#port-margin {
	width: 72%;
    max-width: 960px;
    margin: 0 auto;
}

.description {
	width: 100%;
	max-width: 700px;
	line-height: 140%;
	padding-left: 20px;
}

.description, .img-description {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
}

.img-description:hover {
	width: 194px;
	height: 102px;
	border: 3px solid #900000;
	border-radius: 8px;
}

.port-links {
	text-decoration: none;
	color: #fff;

	&:hover {
		color: @red-link-hover;
	}
}

a {
	text-decoration: none;
}

/* =====================================
              Contact Page
   ===================================== */

#page4 {
	font-family: @helvetica-font;
	color: #000;
	background: #eee;
	padding-top: 10px;
    padding-bottom: 10px;
}

/* =====================================
                   Form
   ===================================== */

#contact-info-section {
	width: 53%;
	max-width: 295px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: #fff;
}

.contact-info {
	display: inline-block;
	padding: 10px;
}

#form-background {
	width: 100%;
	max-width: 750px;
	height: 450px;
	background: #fff;
	margin: 0 auto;
}

#form-box {
	width: 88%;
	max-width: 660px;
	margin: 0 auto;
}

#form-box-left {
	display: inline-block;
	vertical-align: middle;
	margin: 25px;
	padding-top: 5px;
	width: 45%;
	max-width: 300px;
	height: 300px;
}

#form-box-right {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	max-width: 300px;
	height: 325px;
}

#name, #name2, #email, #phone, #message {
	display: block;
    font-size: 18px;
	border: 3px solid #eee;
	margin: 10px;
    padding: 5px;
}

label[for="name"], label[for="message"] {
	font-weight: 700;
	font-size: 18px;
}

.required {
	font-weight: 400;
	color: #aa0000;
}

#ie-margin {
	margin-bottom: 30px;
}

#message {
	max-width: 320px;
	max-height: 90px;
}

input[type="submit"] {
    background: #E90000;
    color: #fff;
    border: none;
	border-radius: 5px;
    margin-top: 20px;
    padding: 10px 105px 10px 105px;

    &:hover {
		background: #009900;
	}
}

input:focus, textarea:focus {
	outline-color: #000;
	outline-width: 15px;
	box-shadow: 0 0 8px #000;
}

/* =====================================
              Checkbox Format
   ===================================== */

input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 21px;
	height: 16px; 
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}

label.css-label {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_dc5c9edb76860fa6539cb27637645212.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* =====================================
                Radio Format
   ===================================== */

input[type=radio].css-radiobox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=radio].css-radiobox + label.css-label2 {
	padding-left: 20px;
	height: 15px; 
	display: inline-block;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=radio].css-radiobox:checked + label.css-label2 {
	background-position: 0 -15px;
}

label.css-label2 {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2adbce44987ccbede943f3956a38690c.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* =====================================
                Form Thanks
   ===================================== */

#thanks-body {
	background: #eee;
}

.thanks {
	width: 100%;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.thanks a {
	font-size: 18px;
	color: #000;
}

.thanks a:hover {
	font-weight: 700;
	font-size: 22px;
	color: #000080;
}

/* =====================================
                 Footer
   ===================================== */

footer {
	background: #eee;
	color: #000;
	padding-bottom: 35px;
	padding-right: 10px;
}

#map {
	text-decoration: none;
	color: #000;
}

#map:hover {
	color: #0A4595;
}

#date {
	float: right;
}