/* =====================================
               Media Queries
   ===================================== */

@media (max-width: 1305px) {
	.description {
		width: 70%;
	}
}

@media (max-width: 1070px) {
	.description {
		width: 55%;
	}
}


@media (max-width: 780px) {
	nav {
		padding-right: 30px;
	}

	.section-pad h2 {
		text-align: center;
	}

	.img-description {
		margin-left: 160px;
	}

	.description p {
		width: 500px;
	}
}

@media (max-width: 670px) {
	.img-description {
		margin-left: 140px;
	}

	#contact-info-section {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.contact-info {
		display: inline;
	}
}

@media (max-width: 540px) and (min-width: 490px) {
	header {
		width: 540px;
		padding-left: 0;
	}

	#photo, #p-hire {
		margin-left: 15px;
	}

	#photo {
		margin-left: 220px;
	}
	
	#p-hire p {
		width: 480px;
	}

	#p-hire h1 {
		text-align: center;
		padding-left: 160px;
	}

	nav {
		padding-right: 40px;
	}

	.img-description {
		margin-left: 90px;
	}

	.description p {
		width: 380px;
	}

	#contact-info-section {
		padding-right: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.contact-info {
		display: inline;
	}

	#form-background {
		height: 850px;
		padding-left: 110px;
	}

	#form-box-right {
		margin-top: 60px;
		width: 320px;
	}

	#form-box-left {
		margin-top: 20px;
	}

	footer {
		float: none;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.pg-title {
		font-size: 40px;
	}

	header {
		width: 480px;
		padding-left: 0;
	}

	#photo {
		margin-left: 180px;
	}
	
	#p-hire p {
		width: 420px;
	}

	#p-hire h1 {
		text-align: center;
		padding-left: 100px;
	}

	nav {
		padding-right: 30px;
	}

	.section-pad h2 {
		text-align: center;
	}

	.img-description {
		margin-left: 70px;
	}

	.description p {
		width: 300px;
	}

	.contact-info {
		display: inline-block;
		margin-left: 35px;
	}

	#form-background {
		height: 850px;
	}

	#form-box-right {
		margin-top: 60px;
	}

	#form-box-left {
		margin-top: 20px;
	}

	footer {
		float: none;
		text-align: center;
	}
}

@media (max-width: 390px) and (min-width: 321px) {
	header {
		width: 360px;
		padding-left: 0;
	}

	#photo, #p-hire {
		margin-left: 15px;
	}

	#photo {
		margin-left: 120px;
	}
	
	#p-hire p {
		width: 300px;
	}

	#p-hire h1 {
		text-align: center;
		padding-left: 65px;
	}

	nav li {		
		display: block;
		width: 100px;
		text-align: center;
		margin-left: 40px;
	}

	.section-pad h2 {
		text-align: center;
	}

	.img-description {
		margin-left: 30px;
	}

	.description p {
		font-size: 13;
		width: 240px;
	}

	.contact-info {
		display: inline-block;
		margin-left: 18px;
	}

	#form-background {
		height: 850px;
	}

	#form-box-right {
		width: 320px;
		margin-top: 60px;
		margin-left: 20px;
	}

	#form-box-left {
		margin-top: 20px;
		margin-left: 40px;
	}

	footer {
		float: none;
		text-align: center;
	}
}

@media (max-width: 320px) {
	.pg-title {
		font-size: 40px;
	}

	header {
		width: 300px;
		padding-left: 0;
	}

	#photo {
		margin-left: 100px;
	}
	
	#p-hire p {
		width: 255px;
	}

	#p-hire h1 {
		text-align: center;
		padding-left: 65px;
	}

	nav li {		
		display: block;
		width: 100px;
		text-align: center;
		margin-left: 25px;
	}

	.section-pad h2 {
		text-align: center;
	}

	.img-description {
		margin-left: 10px;
	}

	.description p {
		font-size: 13px;
		width: 180px;
	}

	.contact-info {
		display: inline-block;
		margin-left: 8px;
	}

	#form-background {
		height: 850px;
	}

	#form-box-right {
		margin-top: 60px;
		width: 320px;
	}

	#form-box-left {
		margin-top: 20px;
		margin-left: 30px;
	}

	footer {
		float: none;
		text-align: center;
	}
}