/* =====================================
               Media Queries
   ===================================== */

@media (max-width: 780px) {
	nav li {
		width: 500px;
		text-align: center;
	}

	.player-style img {
		margin-left: 330px;
		padding-bottom: 10px;
	}
}

@media (max-width: 670px) {
	nav li {
		width: 415px;
		text-align: center;
	}

	.player-style img {
		margin-left: 265px;
		padding-bottom: 10px;
	}
}

@media (max-width: 540px) {
	nav li {
		width: 370px;
		text-align: center;
		display: block;
	}

	section p {
		font-size: 15px;
	}

	.player-style img {
		margin-left: 220px;
		padding-bottom: 10px;
	}

	.player-style p {
		font-size: 14px;
	}
}

@media (max-width: 390px) {
	#logo-name h1 {
		font-size: 32px;
	}

	article h2 {
		font-size: 36px;
	}

	nav li {
		width: 230px;
		text-align: center;
		display: block;
	}
	
	section h3 {
	font-size: 20px;
	}

	section p {
		font-size: 13px;
	}

	.player-style img {
		margin-left: 120px;
		padding-bottom: 10px;
	}

	.player-style p {
		font-size: 13px;
	}

	#date, #port {
		display: block;
		text-align: center;
		padding-bottom: 5px;
	}
}

@media (max-width: 320px) {
	#logo-name h1 {
		font-size: 32px;
	}

	article h2 {
		font-size: 36px;
	}

	nav li {
		width: 200px;
		text-align: center;
		display: block;
	}
	
	section h3 {
		font-size: 18px;
	}

	section p {
		font-size: 13px;
	}

	.player-style img {
		margin-left: 100px;
		padding-bottom: 5px;
	}

	.player-style p {
		font-size: 13px;
	}

	#date, #port {
		display: block;
		text-align: center;
		padding-bottom: 5px;
	}
}